<%#
# PaperTrail Show Partial

This partial renders a paper_trail attribute,
to be displayed on a resource's show page.

By default, the attribute is rendered as a table tag.

## Local variables:

- `field`:
  An instance of `Administrate::Field::PaperTrail`.

%>

<% versions = field.resource.versions %>
<% if versions.present? %>
  <table aria-describedby="Record Changes">
    <thead>
    <tr>
      <th width="10%">Action</th>
      <th width="10%">By</th>
      <th width="10%">At</th>
      <th>Changes</th>
    </tr>
    </thead>
    <tbody>
    <% versions.each do |version| %>
      <% whodunnit = field.whodunnit(version.whodunnit) %>
      <tr>
        <td width="10%"><%= version.event %></td>
        <td width="10%"><%= link_to_if(accessible_action?(whodunnit, :show), whodunnit || version.whodunnit, [namespace, whodunnit]) %></td>
        <td width="10%"><%= version.created_at %></td>
        <td><%= field.humanize_changeset(version.changeset) %></td>
      </tr>
    <% end %>
    <tbody>
  </table>
<% else %>
  -
<% end %>